*
!/.gitignore
!/README.md
!/dist/
/dist/*
!/dist/windows/
!/dist/extensions/
/dist/windows/*
!/dist/windows/installer/
!/dist/windows/helper/
/dist/windows/installer/*
/dist/windows/helper/*
!/dist/windows/installer/asm-cozum-setup.exe
!/dist/windows/helper/asm-cozum-helper.exe
!/dist/extensions/**
